<h3>Welcome, the assigned teams are under todo. If you finish those please work on those for others, if you do please set the team member to yourself. In order to upload a photo please take it as a square photo and then upload it.</h3>

